NEXT_PUBLIC_API_BASE_URL=http://localhost:8000/api/v1
NEXT_PUBLIC_WS_URL=ws://localhost:8000/ws/realtime

NEXT_PUBLIC_DITTO_PROXY_BASE_URL=http://localhost:8000/api/v1/ditto
NEXT_PUBLIC_DITTO_WS_URL=ws://localhost:8080/ws/2

NEXT_PUBLIC_MODEL_EV_URL=https://raw.githubusercontent.com/visgl/deck.gl-data/master/website/scenegraph-layer/airplane.glb
NEXT_PUBLIC_MODEL_STATION_URL=https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/Lantern/glTF-Binary/Lantern.glb
NEXT_PUBLIC_MODEL_SUBSTATION_URL=https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/BarramundiFish/glTF-Binary/BarramundiFish.glb

NEXT_PUBLIC_CESIUM_ION_ASSET_ID=96188
NEXT_PUBLIC_CESIUM_ION_TOKEN=
